<form action="/entry/new" method="POST">
  
  <p>Title<input type="text" name="title"></p>

  <input type="submit" value="Submit">
</form>
     
  <textarea name="body" id="body" cols="60" rows="20" placeholder="Enter blog post here..."></textarea>     